.table-pagination{

    .table-pagination-info{

        display: flex;
        justify-content: space-between;

        .table-pagination-total{

        }

        .table-pagination-pages{}
    }

    .table-pagination-buttons{
        
        p{
            margin: 0;
        }

        .table-pagination-button{

            cursor: pointer;
            margin-right: 1em;
        }

        .table-pagination-button:hover{
            color: $interaction-color;
        }

        .table-pagination-button.inactive{
            color: hsl(0, 0%, 69%);
        }
    }
}
 