.rightbar {
    // background-color: red;
    position: fixed;
    right: 0px;
    height: 100%;
}

.rightbar-socials {
    position: relative;
    top: 50%;
}

.rightbar-element-icon {
    padding: 1em 0.5em;

    svg {
        width: 1.5em;
        color: gray;

        &:hover {
            color: chocolate;
        }
    }
}
